*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.card-section{

display: flex;
justify-content:center;
align-items: center;
gap: 0.5rem;
width: 50%;
  /* height: 200px;  */

padding-bottom: 1.5rem;
border-bottom: 1px solid black;
}
@media screen and (max-width:500px){
    .cards-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.cards-section{
   display: flex; 
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
}
@media screen and (max-width:500px){
    .card-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.card-body{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:1rem;
    padding: 0.5rem;
    /* height: 200px; */
    
}
@media screen and (max-width:500px){
    .card-body{
      
        flex-wrap: wrap;
        
        width: 100%;
    }
}

.card-year-name{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
@media screen and (max-width:500px){
    .card-body{
        flex-wrap: wrap;  
        width: 100%;
    }
}
.card-year{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(2, 2, 14);
    border-radius: 20px;
    padding:0.2rem 0.4rem;
    font-weight: 600;
    font-size: 0.8rem;

}
.work-image{
    display: flex;
    width: 230px;
    height: 150px;
    object-fit:cover;
    border-radius:10px;

}
.work-image img{
width: 100%;
height: 100%;
display: block;
object-fit: cover;
border-radius:5px;
}
@media screen and (max-width:500px){
    .work-image img{
        display: flex;
        justify-content: center;
        align-items: center;
    
        flex-wrap: wrap;
    }
}
.card-text{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
}
@media screen and (max-width:500px){
    .card-text{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;

    }
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:500px){
    .card-title{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        
        width: 100%;
    }
}