footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons p{
    padding: 0.1em 0.5em;
    font-size: 35px;
    margin: 0;
}